<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hit.spt.mapper.InventoryMapper">
    <select id="queryWarehouseList" resultType="Inventory">
        select inventory_list.il_id, inventory_list.inventory_name, inventory_list.inventory_prior
        from inventory_list
    </select>
    <insert id="insertInventoryWithGoodName" parameterType="Inventory">
        insert into inventory(g_id, quantity, quality, il_id)
        select goods_info.g_id, #{quantity}, #{quality}, #{il_id}
        from goods_info
        where goods_info.name = #{name}
    </insert>
    <select id="queryInventoryById" parameterType="java.lang.Integer" resultType="Inventory">
        select inventory.i_id, inventory.g_id, inventory.quantity, inventory.quality, goods_info.name, inventory_list.inventory_name, inventory.il_id
        from inventory, goods_info, inventory_list
        where inventory.i_id = #{i_id} and goods_info.g_id = inventory.g_id and inventory_list.il_id = inventory.il_id
    </select>
    <select id="selectInventoryByName" parameterType="java.lang.String" resultType="Inventory">
        select inventory.i_id, inventory.g_id, inventory.quantity, inventory.quality, inventory.il_id
        from goods_info, inventory
        where inventory.g_id = goods_info.g_id and goods_info.name = #{name}
    </select>
    <delete id="deleteInventoryByIId" parameterType="java.lang.Integer">
        delete
        from inventory
        where inventory.i_id = #{i_id}
    </delete>
    <update id="updateInventory" parameterType="Inventory">
        update inventory
        set quantity = #{quantity},
            quality = #{quality}
        where i_id = #{i_id}
    </update>
    <update id="mergeInventory" parameterType="Inventory">
        update inventory, goods_info
        set inventory.quantity = #{quantity} + inventory.quantity, inventory.quality = #{quality}
        where inventory.g_id = goods_info.g_id and goods_info.name = #{name} and inventory.il_id = #{il_id}
    </update>
    <insert id="insertInventory" parameterType="Inventory">
        insert into inventory(g_id, quantity, quality, il_id)
        value (#{g_id}, #{quantity}, #{quality}, #{il_id})
    </insert>
    <delete id="deleteInventoryByGid" parameterType="java.lang.Long">
        delete
        from inventory
        where g_id = #{g_id}
    </delete>
    <select id="queryQuantityByGid" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select inventory.quantity
        from inventory
        where inventory.g_id = #{g_id}
    </select>
    <select id="queryInventoryList" resultType="Inventory">
        select i_id, g_id, quantity, quality
        from inventory
    </select>
    <select id="queryInventoryWithGnameList" resultType="Inventory">
        select goods_info.name, inventory.quality, inventory.i_id, inventory.quantity, inventory.g_id, inventory_list.inventory_name, inventory.il_id,
        goods_info.retail_price, goods_info.cost from goods_info, inventory, inventory_list where inventory.g_id = goods_info.g_id and inventory_list.il_id = inventory.il_id
    </select>
    <select id="queryInventoryWithIlid" parameterType="java.lang.Integer" resultType="Inventory">
        select inventory.i_id, inventory.g_id, goods_info.name, inventory.quantity, goods_info.cost
        from inventory, goods_info
        where inventory.il_id = #{il_id} and inventory.g_id = goods_info.g_id
    </select>
    <select id="queryInventoryByIdAndIlID" resultType="Inventory" parameterType="java.lang.Integer">
        select goods_info.name, inventory.quality, inventory.i_id, inventory.quantity, inventory.g_id, inventory_list.inventory_name, inventory.il_id,
               goods_info.retail_price, goods_info.cost from goods_info, inventory, inventory_list
        where inventory.g_id = goods_info.g_id and inventory_list.il_id = inventory.il_id and
              inventory.g_id = #{g_id} and inventory.il_id = #{il_id}
    </select>
    <select id="queryWarehouseByIlID" resultType="Inventory" parameterType="java.lang.Integer">
        select inventory_list.inventory_name, inventory_list.il_id, inventory_list.inventory_prior
        from inventory_list
        where inventory_list.il_id = #{il_id}
    </select>
    <insert id="insertWarehouse" parameterType="Inventory">
        insert into inventory_list(inventory_name, inventory_info, inventory_prior)
        value (#{inventory_name}, #{inventory_info}, #{inventory_prior})
    </insert>
    <update id="updateWarehouse" parameterType="Inventory">
        update inventory_list
        set inventory_name = #{inventory_name}, inventory_info = #{inventory_info},
            inventory_prior = #{inventory_prior}
        where il_id = #{il_id}
    </update>
</mapper>