<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hit.spt.mapper.OrderItemMapper">
    <insert id="insertOrderItem" parameterType="OrderItem">
        insert into order_item(o_id, g_id, quantity, cost, price)
        values (#{o_id}, #{g_id}, #{quantity}, #{cost}, #{price})
    </insert>
    <delete id="deleteOrderItemByOid" parameterType="java.lang.Integer">
        delete
        from order_item
        where o_id = #{o_id}
    </delete>
    <delete id="deleteOrderItemByOiid" parameterType="java.lang.Integer">
        delete
        from order_item
        where oi_id = #{oi_id}
    </delete>
    <delete id="deleteOrderItemByGid" parameterType="java.lang.Long">
        delete
        from order_item
        where g_id = #{g_id}
    </delete>
    <select id="queryOrderItemByOid" parameterType="java.lang.Integer" resultType="OrderItem">
        select oi_id, o_id, g_id, quantity, cost, price
        from order_item
        where o_id = #{o_id}
    </select>
    <select id="queryOrderItemByGid" parameterType="java.lang.Long" resultType="OrderItem">
        select oi_id, o_id, g_id, quantity, cost, price
        from order_item
        where g_id = #{g_id}
    </select>
    <select id="queryOrderItemList" parameterType="OrderItem" resultType="OrderItem">
        select oi_id, o_id, g_id, quantity, cost, price
        from order_item
    </select>
    <select id="queryOrderItemWithNameList" resultType="OrderItem">
        select order_item.oi_id,
               order_item.o_id,
               order_item.g_id,
               order_item.quantity,
               order_item.cost,
               order_item.price,
               goods_info.name
        from order_item,
             goods_info
        where order_item.g_id = goods_info.g_id
    </select>
    <select id="queryOrderItemWithNameListByOid" resultType="OrderItem">
        select order_item.oi_id,
               order_item.o_id,
               order_item.g_id,
               order_item.quantity,
               order_item.cost,
               order_item.price,
               goods_info.name
        from order_item,
             goods_info
        where order_item.g_id = goods_info.g_id
          and #{o_id} = order_item.o_id
    </select>
    <select id="queryOrderItemByOidGid" resultType="OrderItem">
        select oi_id, o_id, g_id, quantity, cost, price
        from order_item
        where o_id = #{o_id}
          and g_id = #{g_id}
    </select>
    <update id="updateOrderItem" parameterType="OrderItem">
        update order_item
        set quantity = #{quantity},
            price    = #{price},
            cost     = #{cost}
        where o_id = #{o_id}
          and g_id = #{g_id}
    </update>
</mapper>